*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.font-open-sans- {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
/* .shared style */
.btn{
    color: white;
    background-color:#ffa500; 
    border: none;
    padding: 15px 35px;
     border-radius: 4px;
     font-size: 20px;
     font-weight: bold;
     cursor: pointer;
}

.btn-grp {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 35px;
}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
header{
   
    padding-top: 50px;
    background-color:#FFF8F3;
  background-image: url("../images/developer.png") , url("../images/header_bg.png");
  background-repeat:no-repeat ;
  background-position:top left  ,right bottom ;
  
}
   .text-center{
    text-align: center;
   }
    nav{
        width: 71%;
        max-width: 1140px; 
       /* border: 1px solid red; */
       margin: 0 auto;
       display: flex;
       justify-content: space-between;
       align-items: center;
       
       
    }

    .logo h2 {
        font-size:45px;
        font-weight: 800px;
    }
 .color-orange{
    color: hsl(39, 97%, 48%);
 }
 .menu {
    
    display: flex;
    list-style-type: none;
 gap: 45px;
 align-items: center;
 }

nav li a{
text-decoration: none;
font-size: 20px;

}
#banner{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content {
    width: 584px;
}
.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-content h1{
    font-size: 85px;
    font-weight:bold;
    color: #181818;
    padding-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height:30px;
    width: 500px;
    padding-bottom: 20px;
    
}
#banner .banner-image{
    width: 584px;
    vertical-align:middle;
}
#about{
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info{
   
    display: flex;
     justify-content: space-around;
}
.about-info.info-card p{
 font-size: 20px;
    line-height: 30px;
    color: #757575;
    
}
.about-info.info-card h4{
    font-size: 20px;
}
#skills{
    padding-top: 130px;
}
#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .skills-container .skill-box {
    display: flex;
    gap: 24px;
    line-height: 30px;
}
    .skill-box .skill-card{
        padding: 30px;
       box-shadow: 0 6px 50px 0 #0000003a;
        max-width: 267px;
    }
   .skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
   } 
   .skill-card h3{
    margin-bottom: 20px;
    font-size: 20px;
    color: #181818;
   }
   .skill-card p {
    font-size: 16px;
    color: #757575;
   line-height:28px;
    
   }
   #resume .section-heading{
    padding-top: 130px;
    font-size: 35px;
    font-weight: bold;
   }
   #resume .resume-container{
    
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    gap: 24px;
    display: flex;
 
   }
   .resume-container hr {
    margin: 30px 0;
   }
   .resume-container .section-title {

    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
   }
   .resume-card {
    width: 511px;
    margin-right: 47px;
   }
.resume-card .card-title {
    color: #474747;
    font-size: 25px;
    margin-bottom: 10px;
}
.resume-card .card-info {
    
    color: #757575;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;

}
resume-card .card-text {
    
    color: #757575;
    font-size: 16px;
    line-height: 28px;
    
}



footer{
    margin-top: 130px;
    padding: 130px 0;
    background-color: #FFF8F3;

}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.footer-container h2{
    color: #181818;
    /* margin bottom: 20px; */
    padding-bottom: 20px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container .social p{
color:#474747;
line-height: 28px;
font-size: 16px;
max-width: 502px;
margin-bottom: 30px;
}
.footer-container .icons a {
    margin-right: 24px;

}
  
.footer-container .form input[ type="text"] , .footer-container .form input textarea {
        
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
}
.hide{
    display: none !important;
}



@media screen and (max-width:576px) {
    #skills , #about , foote , #resume .section-heading {
 padding-top: 60px;
    }

     #resume .section-heading{
        font-size: 30px;
     }
     nav{
   gap: 20px;
     }
     nav .menu{
        flex-wrap: wrap;
        justify-content: center;
     }

     header {
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

     #banner{
        margin: 20px;
         gap: 20px;
         text-align: center;
     }

     .banner-content h1{
        font-size: 44px;
        padding-top: 20px;
     }
     #banner .banner-image img {
        width: 100%;
        max-height: 280px;  
       object-fit: contain;
    }

    
     .btn-grp{
      justify-content: center;
       
     }
   
     
     
    #skills .skills-container , #about .about-container ,
     footer .footer-container , 
    #resume .resume-container , 
    .banner-content p {
    width: 95%;
   
  }

  #about .about-container{
    padding: 20px;
  }

  #about .about-container .about-info{
    gap: 40px;
  }
    #skills .skills-container .skill-box ,
    #about .about-container .about-info ,
    footer .footer-container , 
    #resume .resume-container , 
    nav ,
    #banner {
    flex-direction: column;
  
 }

 .skill-box .skill-card , #about .about-container .about-info , nav , .banner-content {
    max-width: 100%;
 }

 #resume .resume-container{
    margin-top: 60px;
    margin: 10px;
   
 }
 .resume-card{
    width: 100%;
    margin-right: 10px;

 }
 .footer-container .form input[ type="text"], .footer-container .form textarea {
    width: 100%;
  
}




}