*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.font-open-sans- {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
/* .shared style */
.btn{
    color: white;
    background-color:#ffa500; 
    border: none;
    padding: 15px 35px;
     border-radius: 4px;
     font-size: 20px;
     font-weight: bold;
     cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 35px;
}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
header{
    padding-top: 50px;
    background-color:#FFF8F3;
  background-image: url("../images/developer.png") ,url("../images/header_bg.png"), #FFF8F3;
  background-repeat:no-repeat ;
  background-position:top left ,right bottom ;
}
    nav{
        width: 71%;
        max-width: 1140px; 
       /* border: 1px solid red; */
       margin: 0 auto;
       display: flex;
       justify-content: space-between;
       align-items: center;
       
       
    }

    .logo h2 {
        font-size:45px;
        font-weight: 800px;
    }
 .color-orange{
    color: hsl(39, 97%, 48%);
 }
 .menu {
    
    display: flex;
    list-style-type: none;
 gap: 45px;
 align-items: center;
 }

nav li a{
text-decoration: none;
font-size: 20px;

}
#banner{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content {
    width: 584px;
}
.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-content h1{
    font-size: 85px;
    font-weight:bold;
    color: #181818;
    padding-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height:30px;
    width: 500px;
    padding-bottom: 20px;
    
}
#banner .banner-image{
    width: 584px;
    vertical-align:middle;
}
#about{
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info{
   
    display: flex;
     justify-content: space-around;
}
.about-info.info-card p{
 font-size: 20px;
    line-height: 30px;
    color: #757575;
    
}
.about-info.info-card h4{
    font-size: 20px;
}
#skills{
    padding-top: 130px;
}
#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .skills-container .skill-box {
    display: flex;
    gap: 24px;
    line-height: 30px;
}
    .skill-box .skill-card{
        padding: 30px;
       box-shadow: 0 6px 50px 0 #0000003a;
        max-width: 267px;
    }
   .skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
   } 
   .skill-card h3{
    margin-bottom: 20px;
    font-size: 20px;
    color: #181818;
   }
   .skill-card p {
    font-size: 16px;
    color: #757575;
   line-height:28px;
    
   }