*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.font-open-sans- {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
/* .share style */
.btn{
    color: white;
    background-color:#ffa500; 
    border: none;
    padding: 15px 35px;
     border-radius: 4px;
     font-size: 20px;
     font-weight: bold;
     cursor: pointer;
}
header{
    padding-top: 50px;
    background-color:#FFF8F3;
  background-image: url("../images/developer.png") ,url("../images/header_bg.png"), #FFF8F3;
  background-repeat:no-repeat ;
  background-position:top left ,right bottom ;
}
    nav{
        width: 71%;
        max-width: 1140px; 
       /* border: 1px solid red; */
       margin: 0 auto;
       display: flex;
       justify-content: space-between;
       align-items: center;
       
       
    }

    .logo h2 {
        font-size:45px;
        font-weight: 800px;
    }
 .color-orange{
    color: hsl(39, 97%, 48%);
 }
 .menu {
    
    display: flex;
    list-style-type: none;
 gap: 45px;
 align-items: center;
 }

nav li a{
text-decoration: none;
font-size: 20px;

}
#banner{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content {
    width: 584px;
}
.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-content h1{
    font-size: 85px;
    font-weight:bold;
    color: #181818;
    padding-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height:30px;
    width: 500px;
    padding-bottom: 20px;
    
}
#banner .banner-image{
    width: 584px;
    vertical-align:middle;
}

